div.skin_wrapper_loggedin {
   margin-top: 22px;
   padding-top: 1px;
}
/* ---------------------------------------------- */
* {
	padding: 0px;
	margin: 0px;
}
body {
	background:url(images/background.gif) repeat-x #c2dfe3;
	font-size: 8pt;
	font-family:Arial, Helvetica, sans-serif;
	color: #898989;
}
#wrap {
	width: 900px;
}
#header {
	color: #ffffff;
}
#title {
	float: left;
	margin-top: 10px;
	text-align: left;
}
#topright {
	float: right;
	margin-top: 10px;
}
#navigation {
	clear:both;
	height: 20px;
	padding-top: 10px;
	text-align: right;
}
#main {
	background: url(images/background_main.gif) repeat-x #ffffff;
	text-align: left;
	min-height: 450px;
}
#sidebar {
	float: right;
	width: 180px;
	padding: 20px 10px 20px 10px;
}
#content {
	padding: 20px 10px 20px 10px;
}
.entry {
/*	padding: 0px 10px; */
	background-color: #ececec;
	padding: 10px 10px 5px 10px;
	width: 660px;
}
#footer {
	clear: both;
	padding: 10px 0px;
	font-size: 7pt;
}
/* text */
#title h1 {
	font-size:18pt;
	font-weight: normal;
	color: #ffffff;
}
#title h1 a {
	color: #ffffff;
	text-decoration: none;
}
.description {
	font-size: 11pt;
	color: #898989;
}
#navigation ul li {
	display: inline;
	list-style: none;
	background-color:#82bbc3;
	padding: 7px 10px 10px 10px;
}
#navigation li a {
	color: #ffffff;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;

}
#navigation li a:hover {
	color: #898989;

}
#content ul li a,
.info a,
.feedback_feed_msg a,
.entry a {
	color: #898989;
}
#sidebar a {
	color: #898989;
	text-decoration: none;
}
#content h1,
#content h2,
#content h3,
#sidebar h2,
#content h4,
#content ul,
#content ol,
#sidebar ul,
p {
	padding-bottom: 10px;
}
#content ul,
#content ol {
	padding-top: 10px;
}
#content ul li,
#content ol li {
	margin-left: 30px;
}
#content h1 {
	color: #82bbc3;
	font-size:14pt;
	font-weight: normal;
}
#content h1 a {
	color: #82bbc3;
	text-decoration: none;
}
#sidebar h2 {
	font-size: 11pt;
}
#sidebar ul li {
	list-style: none;
}
blockquote {
	background: url(images/background_blockquote.gif) no-repeat left top;
	margin: 10px;
	padding-left: 30px;
	font-size: 9pt;
	font-style: italic;
}
blockquote a {
	color: #898989;
	text-decoration: none;
}
#footer a {
	color: #898989;
	text-decoration: none;
}
#content h2,
#content h3,
#content h4 {
	color: #333333;
}
#content h2 a,
#content h3 a,
#content h4 a {
	color: #333333;
	text-decoration: none;
}

/* default */
.navigation {
	padding: 10px 0px;
	color: #666666;
}
.navigation {
	color: #666666;
	text-decoration: none;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.postmetadata {
	color: #ffffff;
	background-color: #82bbc3;
	padding: 5px;
	width: 670px;
	margin-bottom: 15px;
}
.postmetadata a {
	color: #ffffff;
	text-decoration: none;
}
#date {
	padding-bottom: 5px;
	color:#0072bc;	

}
#date a {
	color:#82bbc3;	
	text-decoration: none;
	font-weight: normal;
}
.comment {
	padding: 10px 0px;
}
/* form */
fieldset {
	border: 0px;
}
#author, #email, #url, #comment, .s {
	border: 1px solid #999999; 
	padding: 5px;
	font-size: 8pt;
}
#author, #email, #url, #comment {
	padding: 5px;
}
.s {
	padding: 3px;
}
.submit, .searchsubmit, .preview {
	background-color: #82bbc3;
	color: #ffffff;
	border: 1px solid #666666; 
	font-size: 8pt;
	padding: 2px;
}
#commentform a {
	color:#0072bc;	
	text-decoration: none;
}
#commentform a:hover {
	color:#333333;	
	text-decoration: underline;
}
.bComment {
	padding: 10px;
}
.bCommentText {
	padding: 5px 0px;
}
.bCommentSmallPrint {
	font-size: 7pt;
}
.feedback_feed_msg {
	padding-bottom: 5px;
}
.widget_core_coll_longdesc p {
	padding-bottom: 0px;
}
/* ---------------------------------------------------------- */
#evo_toolbar ul li,
#evo_toolbar ol li {
   margin-left: 0;
}

#content .image_block {
	text-align: left !important;
}
div.bComment, form.bComment {
	border: none !important;
}
.bComment textarea {
	width: 95% !important;
}
blockquote p {
	padding-top: 10px;
}
#topright .extended_search_form .submit {
	display: none;
}
form.bComment .submit, form.bComment .preview, .compact_search_form .submit, #content .extended_search_form .submit {
	color: #fff;
	background-color: #82bbc3;
	border-radius: 0px !important;
	border:1px solid #82bbc3 !important;
	cursor: pointer;
}
#content .extended_search_form .submit {
	margin-left: 3px;
}
form.bComment .submit:hover, form.bComment .preview:hover, .compact_search_form .submit:hover, #content .extended_search_form .submit:hover {
	opacity: 0.6;
	background-color: #82bbc3;
	color: #fff;
}